{% extends "base.html" %}

{% block body %}
        {% if article %}
                {% for art in article %}
                        {{ art["title"] }}<br>
                        {{ art["time"] }}<br>
                        <div class='content-markdown'>{{ art["news"] }}</div> <br>
                        {% set url = reverse_url('show_image', art['picture']) %}
                        <a href="{{ url }}"><img src="{{ url }}" style="max-width: 500px;"></a>
                {% end %}
        {% end %}

        <script
                src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.5.2/marked.min.js"></script>
                <script type="text/javascript">
                $(document).ready(function(){
                        $(".content-markdown").each(function(){
                                var content = $(this).text()
                                console.log(content)
                                var markedContent = marked(content)
                                $(this).html(markedContent)
                        })
                })
        </script>
{% end %}