{% extends "base.html" %}

{% block head %}<h3>Article upload</h3>{% end %}
{% block body %}
    <link rel="stylesheet" 
      href="//cdn.rawgit.com/balpha/pagedown/master/demo/browser/demo.css" />
        <form method="POST" action="" enctype="multipart/form-data">
            {% module xsrf_form_html() %}
            <p>
                <label>Title</label>
                <input type="text" name="title" required>
            </p>
            <p>
                <label>Body</label>
            <div id="wmd-button-bar"></div>
            <textarea name="body" id="wmd-input" class="wmd-input" required></textarea>
            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </p>
            <input type="file" name="file" accept="image/*" required>
            <p>
                <button type="submit" value="Send">Send Message</button>
            </p>
        </form>
        <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"></script>

        <script>
            var converter = Markdown.getSanitizingConverter();
            var editor = new Markdown.Editor(converter);
            editor.run();
        </script>
{% end %}

